#aboutWrapper {
  background-color: #0da9ff;
  color: white;
  height: 90dvh;
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

#contBtnWrapper {
  padding-bottom: 24px;
  padding-right: 24px;
  background-color: #0da9ff;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

#contBtnWrapper > button {
  background-color: cyan;
  padding: 16px;
  border-color: white;
  margin: 0px;
  border: 1px;
}
#contBtnWrapper > button:hover {
  transform: translateY(-4px);
}

#contBtnWrapper > button:active {
  transform: translateY(4px);
}

#aboutBox {
  border: 2px solid;
  padding: 24px;
  height: 80dvh;
  width: 90dvh;
  display: flex;
  align-items: center;
  gap: 30px;
  border-color: cyan;
  overflow: hidden;
}

#leftBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#userImage {
  border: 2px solid;
  border-color: white;
  border-radius: 100%;
  width: 30dvh;
  height: 30dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#userImageModify:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
}

.inputBox {
  border: 0px;
  background: none;
  width: auto;
  text-align: center;
  outline: none;
  color: white;
}

.inputBoxModify {
  border: 0px;
  width: auto;
  text-align: center;
}

#aboutDetail {
  display: flex;
  flex-direction: column;
}

#aboutDetail > label {
  font-size: 18px;
  padding-bottom: 8px;
}

#aboutDetail > textarea {
  height: 70px;
  resize: none;
  overflow: hidden;
  margin-bottom: 14px;
  min-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

textarea {
  resize: none;
  overflow: hidden;
}
